/* Footer.css */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #282c34;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  
  .footer .logo img {
    height: 40px; /* Adjust logo size as needed */
  }
  
  .footer-text {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .contact-button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .contact-button:hover {
    background-color: #45a049;
  }
  